footer {
    background-color: #C9A227;
}
.footer {
    display: flex;
    justify-content: space-around;
    height: 70vh;
}
.footer li {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.footer h2 {
    font-size: 25px;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.footer p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.copy {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.8;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}